body {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
h1 {
  margin-bottom: 0px;
}
img {
  height: 400px;
}
input, textarea, button {
  font-size: 20px;
}
p {
  margin: 5px;
}
button {
  margin-top: 5px;
}
.page-content {
  margin-top: 70px;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.navbar-right {
  padding-right: 30px;
}
.msg-details {
  display: inline-block;
}
