{% extends "main.html" %}

{% block title %}Guestbook{% endblock %}

{% block page_content %}

  <form method="post">
    <p>Name: </p><input name="name"><br />
    <p>Surname: </p><input name="surname"><br />

    {% if logged_in == False %}
      <p>Email: </p><input name="email"><br />
    {% endif %}

    <p>Leave a message:</p>
    <textarea name="text" rows="6" cols="60"></textarea><br />
    <button type="submit">Send</button>
  </form>

{% endblock %}

<!--<form  method="post" action="/leave_a_review"-->
